.price-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 24px;
    font-size: 14px;
    color: #555555;
    font-weight: bold;
}


.price-percent {
    color: black;
    font-size: 24px;
    font-weight: bold
}

.stocks-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row-reverse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.stocks-header {
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 12px;
    font-size: 1rem;
}

.stocks-container table {
    color: #555;
    border-top: 1px solid #ccc;
    width: 90%;
    margin-left: 1.5rem;
}

.best-stock {
    font-weight: bold;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.stocks-title {
    color: #555555;
    font-weight: bold
}

.old-price {
    font-size: 24px;
}

.logo {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

@media (max-width: 1365px) {
    .price-container {
        display: none;
    }
    .price-container-adaptive {
        width: 292px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        height: auto;
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 12px;
        margin-bottom: 24px;
        font-size: 14px;
        color: #555555;
        font-weight: bold;
    }
}